<h5>User Reservations</h5>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="center">Apartment Name</th>
      <th class="center">Start Date</th>
      <th class="center">End Date</th>
      <th class="center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td class="center">{{ getApartmentName(reservation.apartmentId) }}</td>
      <td class="center">{{ reservation.startDate | date }}</td>
      <td class="center">{{ reservation.endDate | date }}</td>
      <td class="center">
        <div class="action-buttons">
          <button class="btn btn-primary btn-sm" (click)="reservation && reservation.id && editReservation(reservation.id)">
            Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="reservation && reservation.id && deleteReservation(reservation.id)">
            Delete
          </button>
        </div>
      </td>     
    </tr>
  </tbody>
</table>
